@import "flatpickr/dist/flatpickr.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none !important;
}

.quill-editor {
    height: 200px; /* Adjust as needed */
    width: 100%;
}


.tiptap {
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #ffffff;
    outline: none;
    border-radius: 0.375rem; /* Tailwind equivalent of rounded-md */
}
