@import "flatpickr/dist/flatpickr.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

.quill-editor {
    height: 200px; /* Adjust as needed */
    width: 100%;
}
